<div class="container mt-5">
  <div class="col-md-8">
    <div class="d-flex flex-column comment-section">
      <ul>
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: userList }"></ng-container>
      </ul>
      <ng-template #recursiveListTmpl let-list="list">
        <li *ngFor="let item of list; trackBy:trackByFn">
          <div class="bg-white p-2">
            <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                                        src="https://nepmeds.com.np/storage/images/avatar.png"
                                                        width="60" alt="img">
              <div class="d-flex flex-column justify-content-start ml-2"><span
                class="d-block font-weight-bold name">{{item.author_name}}</span><span class="date text-black-50">Shared publicly - {{item.date_time | date }}</span>
              </div>
            </div>
            <div class="mt-2">
              <p class="comment-text">{{item.body}}</p>
            </div>
          </div>
          <div class="bg-white">
            <div class="d-flex flex-row fs-12">
              <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i>
                <button (click)="toggleComment(item.id)" class="ml-1 comment btn btn-outline-primary">Comment</button>
              </div>
            </div>
          </div>
          <div class="bg-light p-2 com_block" *ngIf="item.active">
            <div class="d-flex flex-row align-items-start"><textarea class="form-control ml-1 shadow-none textarea"
                                                                     [(ngModel)]="comment"></textarea></div>
            <div class="mt-2 text-right">
              <button (click)="PostComment(item.id)" class="btn btn-primary btn-sm shadow-none" type="button">Post
                comment
              </button>
              <button (click)="toggleComment(item.id)" class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                      type="button">Cancel
              </button>
            </div>
          </div>
          <ul *ngIf="item.children && item.children.length > 0">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }">
            </ng-container>
          </ul>
        </li>
      </ng-template>
    </div>
  </div>
</div>









